.layout--home {
  .pagination {
    margin: 1.4rem 0;
  }
  .pagination__menu {
    max-width: 100%;
    @include overflow(auto);
  }
  .pagination__omit {
    color: $text-color-l;
  }

  .item {
    padding-bottom: 1.3rem;
    margin: 2.6rem 0 1rem 0;
    &:not(:last-child) {
      @include split-line(bottom);
    }
  }

  .item__header {
    font-size: map-get($base, font-size-h3);
  }

  .item__description {
    font-size: map-get($base, font-size-sm);
    line-height: map-get($base, line-height);
    img {
      max-height: 12rem;
    }
  }
}
